@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&amp;subset=cyrillic");
body {
	font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 300;
}


/* visibility rules */


/* all sections are off by default */

body section {
	display: none;
}

body.addTodo section#addTodo,
body.about section#about,
body.home section#home,
body.todos section#todos,
body.addTodo section#addTodo {
	display: block;
}

body.home section#todo-list,
body #todo-list {
	display: block;
}

.addList {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	color: #aaa;
}

.addButton> a {
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 30px;
	right: 50px;
	background-color: #F34072;
	color: #FFF;
	border-radius: 50%;
	text-align: center;
	box-shadow: 1px 1px 3px #aaa;
}

.addButton> a> i {
	margin-top: 18px;
}

.ui-loading .ui-loader {
	display: block;
}

.ui-loader {
	display: none;
	position: absolute;
	opacity: .85;
	z-index: 100;
	left: 50%;
	width: 200px;
	margin-left: -130px;
	margin-top: -35px;
	padding: 10px 30px;
}