.list li> label {
  cursor: pointer;
}

.list li> label input:checked~ span {
  color: #ddd;
  text-decoration: line-through;
}

.done {
  text-decoration: line-through;
}

.todo,
.listname {
  display: inline-block;
  font-size: 1.1em;
}

.headers span> a:hover {
  text-decoration: none;
  border-bottom: 1px dashed;
}

.delete-todo {
  display: none;
  font-size: 16px;
}

li:hover .delete-todo {
  display: inline-block;
}

.todolist > li:last-child > a:first-child {
    display: none;
}
@media screen and (max-width:767px) {
  .todoWrapper~ div {
    margin-top: 10px;
    font-size: 11px;
  }
  aside {
    order: 1;
  }
  .delete-todo {
    display: inline;
  }
}