<div class="uk-container ul-container-center uk-text-center">
  <form class="uk-form uk-form-stacked">
    <div class="uk-form-row">
      <label for="todoName" class="uk-form-label">Todo</label>
      <input type="text" id="todoName" name="todoName" placeholder="Enter TODO" required/>
    </div>
    <div class="uk-form-row">
      <label for="date" class="uk-form-label">Choose deadline date, if you need</label>
      <input type="text" id="date" name="date" data-uk-datepicker="{format:'DD.MM.YYYY'}">
    </div>
    <div class="uk-form-row">
      <label for="todolist" class="uk-form-label"></label>
      <select name="todolist" id="todolist">
          <option value="{{this.id}}">
            {{this.name}}
          </option>
        </select>
    </div>
    <div class="uk-form-row">
      <button type="button" id="addTodo" class="uk-button uk-button-success" onclick="newOne()">Add</button>
    </div>
  </form>
  <div class="uk-margin">
    <ul class="uk-list uk-list-striped" id="newTodos">

    </ul>
  </div>
</div>
<script>
  app.page('addTodo', function() {
    var select = $(this).find('#todolist').repeatable();
    let todolist = getLocalInfo('todoLists');
    todolist.unshift({
      "id": "",
      "name": "==Without list=="
    })
    return function(params) {
      select.value = todolist;
    }
  })
</script>