<div class="uk-grid">
  <aside class="uk-width-medium-1-4 uk-width-1-1 uk-margin-large">
    <h2>TODOlists 
        <a class="addList" onclick="newList()"><i class="uk-icon-plus-square-o"></i></a>
    </h2>
    <ul class="uk-nav uk-nav-side todolist">
      <li>
        <a class="uk-float-right" onclick="deleteList({{this.id}})"><i class="uk-icon-minus-square-o"></i></a>
        <a class="" href="#todos:{{this.id}}">{{this.name}}  </a>
      </li>
    </ul>
  </aside>
  <div class="uk-width-medium-3-4 uk-width-1-1 uk-margin-large-bottom">
    <h1 class="uk-text-center">TODOs for today</h1>
    <div class="uk-container uk-container-center uk-margin-large-top">
      <div class="list">
        <ul class="uk-list uk-list-striped today-todos">
          <li class="doneTodo">
            <label for="todoId{{this.id}}">
              <div class="uk-grid">
                <div class="uk-width-medium-1-3 uk-width-1-1 todoWrapper">
                  <input type="checkbox" name="todoId{{ this.id }}" id="todoId{{ this.id }}" value={{this.id}} onclick="doTodo($(this))" data-checked="{{this.done}}"/>
                  <span class="todo" ondblclick="updateTodo($(this))"> {{ this.title }} </span> 
                  <span class="delete-todo uk-align-right"><a title="Delete TODO" onclick="deleteTodo($(this))"><i class="uk-icon-remove"></i></a></span>
                </div>
                <div class="uk-width-medium-1-3 uk-width-1-2">
                  <span class="listname" ondblclick="updateTodoList($(this))" data-listid={{this.listID}}> {{ this.listName }} </span>
                </div>
                <div class="uk-width-medium-1-3 uk-width-1-2">
                  <span ondblclick="updateTodoDate($(this))">{{this.date == 'none' ? '' : this.date}}</span>
                </div>
              </div>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
  app.page("home", function() {
    var list = $(this).find("ul.today-todos").repeatable();
    var todolist = $(this).find(".todolist").repeatable();

    var todos = getLocalInfo('todos');
    var todoLists = [];
    todoLists = getLocalInfo('todoLists');

    var dateObj = new Date();
    var day = dateObj.getUTCDate().length > 1 ? dateObj.getUTCDate() : '0' + dateObj.getUTCDate();
    var currentDate = day + "." + dateObj.getUTCMonth() + 1 + "." + dateObj.getFullYear();

    var currentTodos = [];

    todoLists.push({
      "id": "all",
      "name": 'All todos'
    });

    todos.map((obj) => {
      if (currentDate === obj.date) {
        currentTodos.push(obj);
      }
    });
    currentTodos = setListNames(currentTodos);

    return function(params) {
      list.value = currentTodos;
      todolist.value = todoLists;
      checkInput();
    }
  });
</script>