<h2 class="uk-h2 title">Current TODOs</h2>
<div class="uk-container uk-container-center">
  <div class="table-header">
    <input type="hidden" value="" id="sorted-data" />
    <ul class="uk-list uk-list-space headers">
      <li>
        <div class="uk-grid">
          <div class="uk-width-1-3 todoWrapper">
            <span onclick="sort('status')"><a>TODO <i class="uk-icon-sort-desc"></i></a></span>
          </div>
          <div class="uk-width-1-3">
            <span class="listname">List </span>
          </div>
          <div class="uk-width-1-3">
            <span onclick="sort('date')"><a>Deadline <i class="uk-icon-sort-desc"></i></a></span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="list">
    <ul class="uk-list uk-list-striped list-todos uk-sortable" data-uk-sortable>
      <li class="doneTodo">
        <label for="todoId{{this.id}}">
          <div class="uk-grid">
            <div class="uk-width-1-3 todoWrapper">
              <input type="checkbox" name="todoId{{ this.id }}" id="todoId{{ this.id }}" value={{this.id}} onclick="doTodo($(this))" data-checked="{{this.done}}"/>
              <span class="todo" ondblclick="updateTodo($(this))"> {{ this.title }}  </span> 
              <span class="delete-todo uk-align-right"><a title="Delete TODO" onclick="deleteTodo($(this))"><i class="uk-icon-remove"></i></a></span>
            </div>
            <div class="uk-width-1-3">
              <span class="listname" ondblclick="updateTodoList($(this))" data-listid={{this.listID}}> {{ this.listName }} </span>
            </div>
            <div class="uk-width-1-3">
              <span ondblclick="updateTodoDate($(this))">{{this.date == 'none' ? '' : this.date}}</span>
            </div>
          </div>
        </label>
      </li>
    </ul>
  </div>
</div>

<script>
  app.page("todos", function() {
    var alltodos = setListNames(getLocalInfo('todos'));
    var todo = $(this).find("ul.list-todos").repeatable();
    var sortedData = $(this).find("#sorted-data");
    var lists = getLocalInfo('todoLists');

    return function(params) {
      if (params != 'all') {
        var data = findTodos(alltodos, params);
        // render todos
        todo.value = data;

      } else {
        todo.value = alltodos;
      }
      sortedData.val(params);
      checkInput();
    };
  });
</script>